In [1]:
import requests 
import csv

In [2]:
response = requests.get('https://coronavirus.m.pipedream.net/')

In [3]:
response

In [7]:
covid_data = response.json()

In [12]:
covid_data['rawData']
covid = covid_data['rawData']

In [15]:
with open('covid_data.csv', 'w', newline='')  as f:
    writer = csv.DictWriter(f, fieldnames=['Country_Region', 'Province_State', 'Confirmed', 'Deaths'])
    writer.writeheader()

    for c in covid :
        country = c['Country_Region']
        province = c['Province_State']
        confirmed = c['Confirmed']
        deaths = c['Deaths']


        writer.writerow({'Country_Region' : country,'Province_State': province, 'Confirmed':confirmed, 'Deaths':deaths })

In [16]:
import pandas as pd 
data = pd.read_csv('covid_data.csv')
data

            Country_Region Province_State  Confirmed  Deaths
0              Afghanistan            NaN     175893    7639
1                  Albania            NaN     272479    3484
2                  Algeria            NaN     265366    6861
3                  Andorra            NaN      38794     152
4                   Angola            NaN      98855    1900
...                    ...            ...        ...     ...
4005    West Bank and Gaza            NaN     652966    5594
4006  Winter Olympics 2022            NaN        535       0
4007                 Yemen            NaN      11783    2139
4008                Zambia            NaN     314850    3960
4009              Zimbabwe            NaN     241548    5408

[4010 rows x 4 columns]